section(id = "ad-bar")
  div(class = "container box")
    .info
      .text 
        h1 Shop Faster With<br>Groceyish App
        h4 Available on both IOS & Android
      .icons
        img(src="./images/icons/google.svg" alt="")
        img(src="./images/icons/apple.svg" alt="")
    .img
      img(src="./images/main/app.png" alt="")   