section(id ="ads" class = "box")
  .ads_parent
    .cont
      .detials
        span free delivery
        h2 Free delivery over $50  
        h4 Shop 50$ product and get free <br> delivery anywhere
        button Shop Now
          img(src="./images/icons/arrow-right-light.png" alt="")
      .img
        img( src="./images/main/offer1-img.png" alt="" class="ads_img_1")
    .cont 
      .detials
        span 60% off
        h2 Organic Food  
        h4 Save up to 60% off on your<br>frist order
        button Order Now
          img(src="./images/icons/arrow-right-light.png" alt="")
      .img
        img( src="./images/main/offer2-img.png" alt="" class="ads_img_2")     