article
  .copy_right
    |© 2022 by 
    <span>Abdalrhman Eldip ❤</span>
    |, All rights reserved
  .visa
    img(src="./images/main/payment.png" alt="")
  .social
    a(href="#")
      img(src="./images/social/facebook.svg" alt="")
    a(href="#")
      img(img src="./images/social/linkedin.svg" alt="")
    a(href="#")
      img(img src="./images/social/instagram.svg" alt="")
    a(href="#")
      img(src="./images/social/tiwwter.svg" alt="")