header
  .logo
    img(src="./images/icons/logo.svg" alt="")
  .search
    select(name ="" id="")
      //-Loop For Options
      -for(var i = 0; i< 5;i++){
        option="All Categories"
      -}
    .line
    input(type="search" name="" id="" placeholder="search...")
    .seach-icon
      img(src="./images/icons/search.svg" alt="search-icon")
  .controlls
    .heart
      a(href="#")
        img(src="./images/icons/heart.svg" alt="heart-icon")
      a(href="#")
        span Wishlist
    .shop-car
      a(href="#")
        img(src="./images/icons/shop-car.svg" alt="shop-car-icon")
      .text
        a(href="#")
          span My car
        a(href="#")
          span 21$
      a(href="#")
        img(src="./images/icons/arrow-down.svg" alt="")
    .user
      a(href="#")
        img(src="./images/icons/user.svg" alt="")
      a(href="#")
        span(class ="name") Abdalrhman
      a(href="#")
        img(src="./images/icons/arrow-down.svg" alt="")
  .toggle
    a(href="#")
      img(src="./images/icons/list.svg" alt="")