section(id ="land")
  .content
    h1 
      |Dont miss our daily 
      <br>
      |amazing deals.
    p Save up to 60% off on your first order
    .search
      img(src="./images/icons/send.svg" alt="")
      .line 
      input(type="search" name="" id="" placeholder="Enter your eamil address")
      .search-text Subscribe
  img(src="./images/main/hero-img.png" alt="")