.options
  h1 Explore Categories
    span(class="slide-show") +
  ul
    li
      a(id="all") All
    li
      a(id="vg") Vegetables
    li
      a(id="fr") Furuits
    li
      a(id="cf") Coffe & teas
    li
      a(id="mt") Meat