.options
  h1 Explore Categories
    span(class="slide-show") +
  ul
    li
      a(href ="#") All
    li
      a(href ="#") Vegetables
    li
      a(href ="#") Furuits
    li
      a(href ="#") Coffe & teas
    li
      a(href ="#") Meat