- var text= ["Redish 500g","Potatos 1kg","Tomatos 200g","Broccoli 1kg","Green Beans 250g"];
- var price= ["$1.5","$22.5","$21","$2.9","$50"];
- var elements_id= ["fr","vg","vg","fr","vg"];
section(class="box" id="product_2")
  include ./_options
  .products_2
    .left
      img(src="./images/icons/arrow-left.svg" alt="")
    .cards
      //- Loop For Make 5 Card
      - for(var s=0; s < text.length;s++){
        div(class="card" id=`${elements_id[s]}`)
          .img
            img(src = `./images/products/image-${8+s}.png` alt = "")
          .details
            span Vegetables
            h4=text[s]
            .stars
              //- Loop For Make 5 Rate Of Stars
              -for(var i = 0; i < 4;i++){
              img(src="./images/icons/star.svg" alt="")
              -}
              img(src="./images/icons/star-space.svg" alt="")
            span By<b>Mr.food</b>
          .payment
            .price
              span=price[s]
              span $2.99
            button(id="add")
              img(src="./images/icons/shopping-cart-2.svg" alt="")
              |Add
      -}
        .text_hidden_ele No Products Found
    .right
      img(src="./images/icons/arrow-right.svg" alt="")  