section(id="sign")
  .content
    span(class="close") X
    .btn
      button(class="active-btn-form") Login
      button Sign in
    form(class="active_from")
      h1 LOGIN FORM
      input(type="email" id="" placeholder="Email")
      input(type="password" id="" placeholder="password")
      .rem 
        label(for="remm") Remmber Me
        input(type="checkbox" id="remm")
      input(type="submit" id="submit" value="Login Now")
      a Forget Password ?
    form
      h1 LOGIN FORM
      input(type="text" id="" placeholder="User Name")
      input(type="email" id="" placeholder="Email")
      input(type="password" id="" placeholder="password")
      input(type="password" id="" placeholder="Confirm password")
      input(type="submit" id="submit" value="Sign in Now")



