doctype html
html(lang="en")
  include ./_links
  body 
    include ./_animation
    include ./_header
    include ./_nav
    include ./_land
    include ./_product_1
    include ./_product_2
    include ./_ads
    include ./_product_3
    include ./_product_4
    include ./_ad_bar
    include ./_end
    include ./_footer
    include ./_article

    script(src="./src/js/index.js")