@use "./main" as *;

#animate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 102220;
  background-color: $primaryColor;
  @include flex(row, center, center, fls, 0);
}
