@use "./main" as *;

//================ Product_1 || Main || Styles ========================>
#product_1 {
  .products {
    width: 100%;
    @include flex(row, flex-start, center, fls, 30px);
    .products-cont {
      overflow: hidden;
      margin: 0 30px;
      width: 100%;
      @include flex(row, flex-start, flex-start, fls, 0px);
      .product-cont {
        @include flex(column, flex-start, center, fls, 30px);
        margin: 10px;
        padding: 30px;
        h3 {
          color: $darkColor;
        }
        p {
          color: $grayColor;
        }
      }
    }
  }
}
//================ Product_1 || Main || Styles ========================>
@include media(sm) {
  #product_1 {
    .products {
      @include flex(row, flex-start, center, fls, 0px);
    }
  }
}
